# Ignore __pycache__ inside app folder specifically
app/__pycache__/
app/schema.er
app/database.db
app/schema.pdf

# Environment files


# SQLite database (if used for local dev)
#*.sqlite3
#*.db

# VSCode settings (if applicable)
#.vscode/

# macOS
#.DS_Store

# Python virtual environment
#venv/
