# Ignore __pycache__ inside app folder specifically
app/__pycache__/

# Environment files
.env

# SQLite database (if used for local dev)
#*.sqlite3
#*.db

# VSCode settings (if applicable)
#.vscode/

# macOS
#.DS_Store

# Python virtual environment
#venv/
